.about-us-page header,
.contact-us-page header,
.discounts-page header,
.our-process header,
.samples-page header,
.sevices-page header,
.subpage-wrapper header,
.we-are-better header,
.prices header {
  height: 300px;
  padding-top: 110px;
}
@media all and (max-width: 768px) {
  .about-us-page header,
  .contact-us-page header,
  .discounts-page header,
  .our-process header,
  .samples-page header,
  .sevices-page header,
  .subpage-wrapper header,
  .we-are-better header,
  .prices header {
    height: 384px;
    padding-top: 150px;
  }
}
@media all and (max-width: 669px) {
  .about-us-page header,
  .contact-us-page header,
  .discounts-page header,
  .our-process header,
  .samples-page header,
  .sevices-page header,
  .subpage-wrapper header,
  .we-are-better header,
  .prices header {
    height: 250px;
    padding-top: 100px;
  }
}
@media all and (max-width: 320px) {
  .about-us-page header,
  .contact-us-page header,
  .discounts-page header,
  .our-process header,
  .samples-page header,
  .sevices-page header,
  .subpage-wrapper header,
  .we-are-better header,
  .prices header {
    height: 160px;
    padding-top: 50px;
  }
}
.about-us-page .text-center,
.contact-us-page .text-center,
.discounts-page .text-center,
.samples-page .text-center,
.sevices-page .text-center,
.subpage-wrapper .text-center,
.we-are-better .text-center,
.prices .text-center {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .about-us-page .text-center,
  .contact-us-page .text-center,
  .discounts-page .text-center,
  .our-process .text-center,
  .samples-page .text-center,
  .sevices-page .text-center,
  .subpage-wrapper .text-center,
  .we-are-better .text-center,
  .prices .text-center {
    margin-bottom: 60px;
  }
}
@media (max-width: 440px) {
  .about-us-page .text-center,
  .contact-us-page .text-center,
  .discounts-page .text-center,
  .our-process .text-center,
  .samples-page .text-center,
  .sevices-page .text-center,
  .subpage-wrapper .text-center,
  .we-are-better .text-center,
  .prices .text-center {
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .about-us-page .text-center,
  .contact-us-page .text-center,
  .discounts-page .text-center,
  .our-process .text-center,
  .samples-page .text-center,
  .sevices-page .text-center,
  .subpage-wrapper .text-center,
  .we-are-better .text-center,
  .prices .text-center {
    margin-bottom: 0;
  }
}
.about-us-page .text-center p,
.contact-us-page .text-center p,
.discounts-page .text-center p,
.our-process .text-center p,
.samples-page .text-center p,
.sevices-page .text-center p,
.subpage-wrapper .text-center p {
  color: #565656;
  max-width: 940px;
  margin: 20px auto;
  font-size: 24px;
  line-height: 38px;
}
@media (max-width: 1024px) {
  .about-us-page .text-center p,
  .contact-us-page .text-center p,
  .discounts-page .text-center p,
  .our-process .text-center p,
  .samples-page .text-center p,
  .sevices-page .text-center p,
  .subpage-wrapper .text-center p,
  .we-are-better .text-center p,
  .prices .text-center p {
    margin-top: 70px;
    padding: 0 15px;
  }
}
@media (max-width: 669px) {
  .about-us-page .text-center p,
  .contact-us-page .text-center p,
  .discounts-page .text-center p,
  .our-process .text-center p,
  .samples-page .text-center p,
  .sevices-page .text-center p,
  .subpage-wrapper .text-center p,
  .we-are-better .text-center p,
  .prices .text-center p {
    font-size: 14px;
    line-height: 25px;
    margin: 30px auto 0;
  }
}
@media (max-width: 1024px) {
  .about-us-page .img-people,
  .contact-us-page .img-people,
  .discounts-page .img-people,
  .our-process .img-people,
  .samples-page .img-people,
  .sevices-page .img-people,
  .subpage-wrapper .img-people,
  .we-are-better .img-people {
    margin-bottom: 60px;
  }
}
@media (max-width: 669px) {
  .about-us-page .img-people,
  .contact-us-page .img-people,
  .discounts-page .img-people,
  .our-process .img-people,
  .samples-page .img-people,
  .sevices-page .img-people,
  .subpage-wrapper .img-people,
  .we-are-better .img-people {
    margin-bottom: 30px;
  }
}
.about-us-page .text-block,
.contact-us-page .text-block,
.discounts-page .text-block,
.our-process .text-block,
.samples-page .text-block,
.sevices-page .text-block,
.subpage-wrapper .text-block,
.we-are-better .text-block,
.prices .text-block {
  margin-bottom: 110px;
}
.about-us-page .text-block .title,
.about-us-page .text-block .title-upper,
.contact-us-page .text-block .title,
.contact-us-page .text-block .title-upper,
.discounts-page .text-block .title,
.discounts-page .text-block .title-upper,
.our-process .text-block .title,
.our-process .text-block .title-upper,
.samples-page .text-block .title,
.samples-page .text-block .title-upper,
.sevices-page .text-block .title,
.sevices-page .text-block .title-upper,
.subpage-wrapper .text-block .title,
.subpage-wrapper .text-block .title-upper,
.we-are-better .text-block .title,
.we-are-better .text-block .title-upper,
.prices .text-block .title,
.prices .text-block .title-upper {
  text-align: left;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .about-us-page .text-block,
  .contact-us-page .text-block,
  .discounts-page .text-block,
  .our-process .text-block,
  .samples-page .text-block,
  .sevices-page .text-block,
  .subpage-wrapper .text-block,
  .we-are-better .text-block,
  .prices .text-block {
    margin-bottom: 70px;
  }
}
.about-us-page .text-block p.subtitle,
.contact-us-page .text-block p.subtitle,
.discounts-page .text-block p.subtitle,
.our-process .text-block p.subtitle,
.samples-page .text-block p.subtitle,
.sevices-page .text-block p.subtitle,
.subpage-wrapper .text-block p.subtitle,
.we-are-better .text-block p.subtitle,
.prices .text-block p.subtitle {
  font-size: 24px;
  line-height: 34px;
}
@media (max-width: 669px) {
  .about-us-page .text-block,
  .contact-us-page .text-block,
  .discounts-page .text-block,
  .our-process .text-block,
  .samples-page .text-block,
  .sevices-page .text-block,
  .subpage-wrapper .text-block,
  .we-are-better .text-block,
  .prices .text-block {
    margin-bottom: 30px;
  }
  .about-us-page .text-block p.subtitle,
  .contact-us-page .text-block p.subtitle,
  .discounts-page .text-block p.subtitle,
  .our-process .text-block p.subtitle,
  .samples-page .text-block p.subtitle,
  .sevices-page .text-block p.subtitle,
  .subpage-wrapper .text-block p.subtitle,
  .we-are-better .text-block p.subtitle,
  .prices .text-block p.subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.about-us-page .block-info,
.discounts-page .block-info,
.our-process .block-info,
.samples-page .block-info,
.sevices-page .block-info,
.subpage-wrapper .block-info,
.we-are-better .block-info,
.prices .block-info {
  padding: 0;
}
.about-us-page .block-info .guarantee-section,
.contact-us-page .block-info .guarantee-section,
.discounts-page .block-info .guarantee-section,
.our-process .block-info .guarantee-section,
.samples-page .block-info .guarantee-section,
.sevices-page .block-info .guarantee-section,
.subpage-wrapper .block-info .guarantee-section,
.we-are-better .block-info .guarantee-section,
.prices .block-info .guarantee-section {
  margin: 50px 0 10px;
}
@media all and (min-width: 769px) {
  .about-us-page header {
    background: url(/img/about-us-bg.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .about-us-page header {
    background: url(/img/about-us-tablet.jpg) center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .about-us-page header {
    background-size: contain;
  }
}
.essay-writing header {
  background-color: #f0f0f5;
}
.essay-writing header .col-md-12 {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.essay-writing header .col-md-12:after,
.essay-writing header .col-md-12:before {
  height: 300px;
  width: 294px;
  position: absolute;
  bottom: -20px;
  content: '';
}
.essay-writing header .col-md-12:after {
  display: block;
  left: 6%;
  background: url(/img/essay-bg2.png) bottom left no-repeat;
}
@media (max-width: 750px) {
  .essay-writing header .col-md-12:after {
    display: none;
  }
}
.essay-writing header .col-md-12:before {
  display: block;
  right: 7%;
  background: url(/img/essay-bg.png) bottom left no-repeat;
}
@media (max-width: 1070px) {
  .essay-writing header .col-md-12:after {
    left: 1%;
  }
  .essay-writing header .col-md-12:before {
    right: 1%;
  }
}
@media (max-width: 950px) {
  .essay-writing header .col-md-12:after {
    left: -90px;
  }
  .essay-writing header .col-md-12:before {
    right: -50px;
  }
}
@media (max-width: 750px) {
  .essay-writing header .col-md-12:before {
    display: none;
  }
}
.essay-writing .breadcrumb {
  text-align: center;
}
@media all and (min-width: 769px) {
  .discounts-page header {
    background: url(/img/discounts-bg.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .discounts-page header {
    background: url(/img/discounts-tablet.jpg) bottom center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .discounts-page header {
    background-size: contain;
  }
}
.essay-writing .special-price-title {
  text-align: center;
  color: #3c434d;
  font-size: 24px;
  padding-top: 30px;
}
.essay-writing .special-price-title > div {
  margin-bottom: 17px;
}
.essay-writing .special-price-title i {
  font-style: normal;
  color: #ff9948;
  font-weight: 700;
}
.essay-writing .special-price-title span {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 669px) {
  .essay-writing .breadcrumb {
    display: none;
  }
  .essay-writing .special-price-title span {
    font-size: 40px;
  }
}
.essay-writing .special-price-title .price-percent b {
  font-size: 63px;
}
.essay-writing .special-price-title .price-percent b:first-child {
  letter-spacing: -5px;
}
.essay-writing .special-price-title .price-percent b:last-child {
  margin-left: -5px;
}
.essay-writing .special-price-title .price-percent span {
  font-size: 14px;
}
.essay-writing .special-price-title .price-percent span:first-child {
  font-size: 35px;
}
.essay-writing .special-price-title .btn.btn-main {
  font-size: 18px;
  padding: 16.5px 44px;
  margin-top: 5px;
}
.essay-writing .special-price-title p {
  font-size: 12px;
  color: #cbcbcb;
  margin-top: 5px;
}
.price-percent b {
  font-size: 60px;
  display: inline-block;
}
.price-percent b span {
  font-size: 20px;
  text-transform: uppercase;
}
.price-percent b span:first-child {
  font-size: 35px;
}
.price-percent b:last-child {
  width: 50px;
  line-height: 20px;
  margin-left: -10px;
}
.faqs {
  padding: 80px 0;
}
.faqs .block-info p {
  margin: 20px auto;
  max-width: 700px;
}
.faqs .faqs-accordion {
  margin: 60px 0 20px;
}
.faqs section {
  clear: both;
  color: #45423e;
  display: block;
  margin-bottom: 28px;
}
.faqs section .button-faq {
  clear: both;
  display: block;
  cursor: pointer;
}
.faqs section .button-faq b {
  font-size: 20px;
  display: block;
  float: left;
  width: 90%;
  margin-top: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1050px) {
  .faqs section .button-faq b {
    width: 88%;
  }
}
@media (max-width: 730px) {
  .faqs section .button-faq b {
    width: 70%;
    font-size: 18px;
    margin-top: -4px;
  }
}
.faqs section .button-faq span {
  display: inline-block;
  float: left;
  width: 42px;
  margin-right: 30px;
}
.faqs section .button-faq span i {
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #ddd;
  font-size: 40px;
  padding: 7.5px 8.5px 8px;
  line-height: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  font-weight: 300;
}
.faqs section .button-faq span i:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 10px;
  width: 19px;
  height: 1.5px;
  background-color: #45423e;
  display: none;
}
.faqs section .button-faq:hover {
  color: #ff9948;
}
.faqs section .button-faq.active span i,
.faqs section .button-faq:hover span i {
  border-color: #ff9948;
}
.faqs section .button-faq.active span i:after {
  display: block;
}
.faqs section .button-faq.active:hover {
  color: #45423e;
}
.faqs section .text-faq {
  width: 90%;
  margin-left: 72px;
  color: grey;
  margin-top: 5px;
  display: none;
}
@media (max-width: 669px) {
  .faqs section .text-faq {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .faqs section .text-faq {
    width: 75%;
  }
}
.forgot-password,
.login-section {
  padding: 70px 0;
}
@media (max-width: 669px) {
  .forgot-password,
  .login-section {
    padding: 30px 0;
  }
}
.forgot-password section,
.login-section section {
  background: #fff;
  padding: 60px 100px;
  border-radius: 4px;
  width: 570px;
  margin: 0 auto;
}
.forgot-password section h1,
.forgot-password section .title-upper {
  font-size: 30px;
  border: none;
}
.login-section section h1,
.login-section section .title-upper {
  font-size: 30px;
  margin-bottom: 40px;
  border: none;
}
.forgot-password section h1:after,
.forgot-password section .title-upper:after,
.login-section section h1:after,
.login-section section .title-upper:after {
  display: none;
}
.forgot-password section a,
.login-section section a {
  font-size: 15px;
  line-height: 40px;
}
.forgot-password section .btn.btn-main {
  height: 45px;
  font-size: 15px;
}
.login-section section .btn.btn-main {
  float: right;
  height: 45px;
  width: 158px;
  font-size: 15px;
}
@media (max-width: 669px) {
  .forgot-password section,
  .login-section section {
    width: 300px;
    padding: 30px 15px;
  }
  .forgot-password section a,
  .forgot-password section button,
  .login-section section a,
  .login-section section button.btn.btn-main {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .forgot-password section .btn.btn-main,
  .login-section section .btn.btn-main {
    margin: 30px auto 20px;
  }
  .forgot-password section h1,
  .forgot-password section .title-upper,
  .login-section section h1,
  .login-section section .title-upper {
    max-width: 205px;
    margin: 0 auto 20px;
  }
}
.forgot-password section p {
  color: #565656;
  text-align: center;
  margin-left: -28px;
  margin-right: -28px;
  margin-bottom: 30px;
}
.forgot-password section .btn.btn-main {
  float: none;
  margin: 30px auto 0;
  display: block;
  width: 170px;
}
.forgot-password section h1,
.forgot-password section .title-upper {
  margin-bottom: 15px;
}
@media (max-width: 669px) {
  .forgot-password section p {
    margin: 0 0 15px;
    font-size: 14px;
  }
  .forgot-password section h1,
  .forgot-password section .title-upper {
    max-width: 100%;
  }
}
.place-order header {
  background-color: #f0f0f5;
}
.place-order header .col-md-12 {
  position: relative;
  height: 310px;
  overflow: hidden;
}
@media (max-width: 750px) {
  .place-order header .col-md-12 {
    height: 200px;
  }
}
@media (max-width: 669px) {
  .place-order header .col-md-12 {
    height: 160px;
  }
}
.place-order header .col-md-12:after {
  content: '';
  height: 300px;
  width: 428px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 40px;
  background: url(/img/order-bg.png) bottom left no-repeat;
}
@media (max-width: 920px) {
  .place-order header .col-md-12:after {
    left: -130px;
  }
}
.place-order .discount-title {
  padding-top: 90px;
  float: right;
  max-width: 410px;
  margin-right: 25px;
}
@media (max-width: 750px) {
  .place-order header .col-md-12:after {
    display: none;
  }
  .place-order .discount-title {
    float: none;
    margin: 0 auto;
    padding-top: 35px;
  }
}
.place-order .discount-title .pull-left {
  font-size: 24px;
}
@media (max-width: 669px) {
  .place-order .discount-title {
    max-width: 300px;
    padding-top: 25px;
  }
  .place-order .discount-title .pull-left {
    font-size: 16px;
  }
}
.place-order .discount-title .pull-left b {
  display: block;
  font-size: 56px;
  font-weight: 400;
  line-height: 45px;
}
@media (max-width: 669px) {
  .place-order .discount-title .pull-left b {
    font-size: 38px;
    line-height: 25px;
  }
}
.place-order .discount-title .price-percent {
  line-height: 70px;
  margin-left: 20px;
}
.place-order .discount-title .price-percent b {
  font-size: 93px;
  color: #a2ca01;
}
@media (max-width: 669px) {
  .place-order .discount-title .price-percent {
    margin-left: 5px;
    line-height: 66px;
  }
  .place-order .discount-title .price-percent b {
    font-size: 67px;
  }
}
.place-order .discount-title .price-percent b span {
  font-size: 22px;
}
@media (max-width: 669px) {
  .place-order .discount-title .price-percent b span {
    font-size: 14px;
  }
}
.place-order .discount-title .price-percent b span:first-child {
  font-size: 56px;
}
@media (max-width: 669px) {
  .place-order .discount-title .price-percent b span:first-child {
    font-size: 38px;
  }
}
.place-order .discount-title .price-percent b span:last-child {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
  display: block;
  color: #28262b;
}
.place-order .discount-title .price-percent b:last-child {
  font-size: 20px;
  line-height: 28px;
  margin-left: -6px;
}
.place-order .discount-title p {
  clear: both;
  color: #565656;
  font-size: 20px;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
@media all and (min-width: 769px) {
  .our-process header {
    background: url(/img/our-process.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .our-process header {
    background: url(/img/our-process-tablet.jpg) bottom center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .our-process header {
    background-size: contain;
  }
}
.sevices-page header img {
  display: none;
}
body .contact-us-page h1 {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 769px) {
  .sevices-page header {
    background: url(/img/services-bg.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .sevices-page header {
    background: url(/img/services-tablet.jpg) right center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .sevices-page header {
    background-size: contain;
  }
}
@media all and (min-width: 769px) {
  .we-are-better header {
    background: url(/img/we-are-better-bg.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .we-are-better header {
    background: url(/img/we-better-tablet.jpg) bottom center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 440px) {
  .we-are-better header,
  .prices header {
    padding-top: 70px;
  }
}
@media (max-width: 320px) {
  .we-are-better .text-center {
    margin-bottom: 30px;
  }
  .we-are-better header,
  .prices header {
    background-size: contain;
    padding-top: 35px;
  }
}
@media all and (min-width: 769px) {
  .samples-page header {
    background: url(/img/samples-bg.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .samples-page header {
    background: url(/img/samples-tablet.jpg) bottom center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .samples-page header {
    background-size: contain;
  }
}
.testimonials-page header {
  height: 300px;
  padding-top: 110px;
}
@media (min-width: 769px) {
  .testimonials-page header {
    background: url(/img/testimonials-bg.jpg) top center no-repeat;
  }
}
@media (max-width: 768px) {
  .testimonials-page header {
    background: url(/img/testimonials-tablet.jpg) bottom center no-repeat;
    background-size: cover;
    height: 384px;
    padding-top: 150px;
  }
}
@media (max-width: 669px) {
  .testimonials-page header {
    height: 250px;
    padding-top: 100px;
  }
}
@media (max-width: 320px) {
  .testimonials-page header {
    background-size: contain;
    height: 160px;
    padding-top: 50px;
  }
}
@media (min-width: 769px) {
  .prices header {
    background: url(/img/prices.jpg) top center no-repeat;
  }
}
@media all and (max-width: 768px) {
  .prices header {
    background: url(/img/prices-tablet.jpg) bottom center no-repeat;
    background-size: cover;
  }
}
.testimonials-page {
  background: #f9fafb;
}
.testimonials-page .text-center {
  margin-bottom: 100px;
}
.registration-page {
  background-color: #f5f6f9;
}
.registration-page .wrapper {
  margin: 60px auto;
}
@media (max-width: 480px) {
  .registration-page .wrapper {
    margin: 30px 15px;
  }
}
.registration-page .registration {
  border: 1px solid #e1e2e6;
  max-width: 570px;
  margin: 0 auto;
  padding: 60px 137px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.registration-page .registration .wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.registration-page .registration .wrp .title-upper {
  font-size: 30px;
  margin: 0 0 15px;
  text-align: left;
}
.registration-page .registration .wrp .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.registration-page .registration .wrp .form-group label {
  font-size: 15px;
  color: #565656;
  font-weight: 600;
}
.registration-page .registration .wrp .form-group .form-control {
  border-color: #cad3df;
  color: #565656;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 45px;
  font-size: 15px;
  line-height: 45px;
  padding: 0 13px;
}
.registration-page .registration .wrp .btn-main {
  line-height: 45px;
  height: 45px;
  display: block;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}
.registration-page .registration .wrp b {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.registration-page .registration .wrp ul li {
  list-style-type: none;
}
.registration-page .registration .wrp .suw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0 0;
  padding: 0;
}
.registration-page .registration .wrp .suw li {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 15px;
  text-align: center;
  line-height: 45px;
}
.registration-page .registration .wrp .suw li a {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.registration-page .registration .wrp .suw li a.fb {
  background: #3b5998;
}
.registration-page .registration .wrp .suw li a.fb:hover,
.registration-page .registration .wrp .suw li a.fb:focus {
  background: #4c70ba;
}
.registration-page .registration .wrp .suw li a.go {
  background: #dc4838;
}
.registration-page .registration .wrp .suw li a.go:hover,
.registration-page .registration .wrp .suw li a.go:focus {
  background: #e47063;
}
.registration-page .registration .wrp .suw li a.tw {
  background: #1da1f2;
}
.registration-page .registration .wrp .suw li a.tw:hover,
.registration-page .registration .wrp .suw li a.tw:focus {
  background: #4db5f5;
}
.registration-page .registration .wrp .suw li a i {
  color: white;
  font-size: 25px;
}
.registration-page .registration .wrp .rmar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 30px 0 0;
}
.registration-page .registration .wrp .rmar li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  font-size: 15px;
}
.registration-page .registration .wrp .rmar li:first-child {
  margin-right: 5px;
}
.registration-page .registration .wrp .rmar li:last-child {
  margin-left: 5px;
}
.registration-page .registration .wrp .rmar li label {
  color: #565656;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.registration-page .registration .wrp .rmar li label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #cad3df;
  line-height: 20px;
}
.registration-page .registration .wrp .rmar li input[type="checkbox"] {
  display: none;
}
.registration-page .registration .wrp .rmar li input[type="checkbox"]:checked + label:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTY3MSA1NjZxMCA0MC0yOCA2OGwtNzI0IDcyNC0xMzYgMTM2cS0yOCAyOC02OCAyOHQtNjgtMjhsLTEzNi0xMzYtMzYyLTM2MnEtMjgtMjgtMjgtNjh0MjgtNjhsMTM2LTEzNnEyOC0yOCA2OC0yOHQ2OCAyOGwyOTQgMjk1IDY1Ni02NTdxMjgtMjggNjgtMjh0NjggMjhsMTM2IDEzNnEyOCAyOCAyOCA2OHoiLz48L3N2Zz4=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.registration-page .registration .wrp .rmar li a {
  color: #ff9948;
  font-weight: 400;
}
@media (max-width: 669px) {
  .registration-page .registration {
    width: 370px;
    padding: 30px 15px;
  }
  .registration-page .registration .wrp .title-upper {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .registration-page .registration {
    width: 100%;
  }
  .registration-page .registration .wrp .rmar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .registration-page .registration .wrp .rmar li {
    margin: 5px 0;
  }
}
.contact-us-page .block-info {
  padding: 100px 15px;
}
@media (max-width: 1024px) {
  .contact-us-page .block-info {
    padding: 80px 15px;
  }
}
.contact-us-page .block-info p {
  margin: 20px auto;
  max-width: 700px;
}
.contact-us-page .contacts-block {
  text-align: center;
  margin-top: 60px;
}
@media (max-width: 669px) {
  .contact-us-page .block-info {
    padding: 40px 15px 60px;
  }
  .contact-us-page .block-info p {
    padding: 0 15px;
  }
  .contact-us-page .contacts-block {
    margin-top: 30px;
  }
  .contact-us-page .contacts-block .col-sm-4 {
    margin-bottom: 30px;
  }
}
.contact-us-page .contacts-block span {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e3e6ea;
  margin: 0 auto 20px;
}
.contact-us-page .contacts-block span i {
  color: #ff9948;
  display: block;
}
.contact-us-page .contacts-block span i.flaticon-phone-call {
  font-size: 30px;
  padding: 20px 15px;
}
.contact-us-page .contacts-block span i.flaticon-mail {
  font-size: 37px;
  padding: 18px 15px;
}
.contact-us-page .contacts-block span i.flaticon-fax {
  font-size: 43px;
  padding: 20px 10px;
}
.contact-us-page .contacts-block b {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}
.contact-us-page .contacts-block a {
  display: block;
  color: #565656;
}
.contact-us-page .contacts-block a:focus,
.contact-us-page .contacts-block a:hover {
  color: #565656;
  text-decoration: none;
}
.contact-us-page .contacts-block .btn-main {
  margin-top: 60px;
}
@media (max-width: 669px) {
  .contact-us-page .contacts-block .btn-main {
    margin-top: 0;
  }
}
@media (max-width: 669px) {
  .about-us-page .block-info .guarantee-section,
  .contact-us-page .block-info .guarantee-section,
  .discounts-page .block-info .guarantee-section,
  .our-process .block-info .guarantee-section,
  .samples-page .block-info .guarantee-section,
  .sevices-page .block-info .guarantee-section,
  .subpage-wrapper .block-info .guarantee-section,
  .we-are-better .block-info .guarantee-section,
  .prices .block-info .guarantee-section {
    margin: 20px 0;
  }
  .about-us-page .block-info p,
  .contact-us-page .block-info p,
  .discounts-page .block-info p,
  .our-process .block-info p,
  .samples-page .block-info p,
  .sevices-page .block-info p,
  .subpage-wrapper .block-info p,
  .we-are-better .block-info p,
  .prices .block-info p {
    margin: 0 0 10px;
  }
}
@media (max-width: 1024px) {
  .about-us-page .block-info,
  .contact-us-page .block-info,
  .discounts-page .block-info,
  .our-process .block-info,
  .samples-page .block-info,
  .sevices-page .block-info,
  .subpage-wrapper .block-info,
  .we-are-better .block-info,
  .prices .block-info {
    padding: 0 15px;
  }
}
